In [1]:
import requests
from bs4 import BeautifulSoup
import csv
import pandas as pd

In [9]:
def timesjobsearch(searchString,exp,numofjobsperpage=20,numofpages=5):
   
    try:
        file = open(searchString+'.csv','w',newline='')
        writer = csv.writer(file)
        writer.writerow(['Job Role','Company Name','Key Skills','Experience','Location','Job Posted','Job Link'])
        
        for page in range(1, numofpages+1):
            url = requests.get("https://www.timesjobs.com/candidate/job-search.html?from=submit&luceneResultSize="+str(numofjobsperpage)+"&cboWorkExp1="+str(exp)+"&postWeek=30&txtKeywords="+searchString+"&sequence="+str(page)).text
            soup = BeautifulSoup(url, 'html')
            jobs = soup.find_all('li', class_ = 'clearfix job-bx wht-shd-bx')

            for job in jobs:
                try:
                    job_role = job.find('header', class_ = 'clearfix').h2.text.strip()
                except:
                    job_role = "Job Role not specified"

                try:
                    company_name = job.find('h3', class_ = 'joblist-comp-name').text.replace('(More Jobs)','').strip()
                except:
                    company_name = "Company Name not specified"

                try:
                    key_skills = job.find('span', class_ = 'srp-skills').text.replace(' ','').strip()
                except:
                    key_skills = "Skills not specified"

                try:
                    experience = job.find('ul', class_ = 'top-jd-dtl clearfix').li.text.replace('card_travel','')
                except:
                    experience = "Experience not specified"

                try:
                    location = job.find('ul', class_ = 'top-jd-dtl clearfix').span.text
                except:
                    location = 'Location not Specified'

                try:
                    job_posted = job.find('span', class_ = 'sim-posted').span.text.replace('Work From Home','').strip()
                except:
                    job_posted = "Not Specified"

                try:
                    job_link = job.header.h2.a['href']
                except:
                    job_link = "Link no specified"

                writer.writerow([job_role,company_name,key_skills,experience,location,job_posted,job_link])

        file.close()
        print(searchString+'.csv with '+str(exp)+' years of experience file created.')

    except:
        print('''Something went wrong.

Try reducing numofpages or numofjobsperpage(max value is 200).

If not specified, the default values are numofjobsperpage=10, numofpages=5 that will result in total 100 jobs.

If reducing the above values doesnt work then check the code yourself :)''')

In [7]:
timesjobsearch('Data Analyst',0)

Data Analyst.csv with 0 experience file created.

In [28]:
data = pd.read_csv('Data Analyst.csv')
data.head()

,Job Role,Company Name,Key Skills,Experience,Location,Job Posted,Job Link
0,Data Analyst,Fine Jobs Consultant Pvt. Ltd.,"dataanalysis,consulting,itconsulting,dataanaly...",0 - 3 yrs,Noida/Greater Noida,Posted 6 days ago,https://www.timesjobs.com/job-detail/data-anal...
1,Data Analyst,Cognizant Technology Solutions,"businessmanagement,excel,mis,DataAnalyst",0 - 3 yrs,Kolkata,Posted few days ago,https://www.timesjobs.com/job-detail/data-anal...
2,Data Analyst,ikomet Technology Solutions Pvt. Ltd.,"macros,visualization,bi,dataanalyst,vba",0 - 3 yrs,Chennai,Posted few days ago,https://www.timesjobs.com/job-detail/data-anal...
3,Data Analyst,Cargill India Pvt. Ltd.,"visualization,businessrequirements,datawarehou...",0 - 3 yrs,Bengaluru / Bangalore,Posted few days ago,https://www.timesjobs.com/job-detail/data-anal...
4,Data Analyst,McKinsey & Company Inc,"informationtechnology,usecases,dataanalytics,c...",0 - 2 yrs,NaN,Posted few days ago,https://www.timesjobs.com/job-detail/data-anal...

In [3]:
timesjobsearch('Java',2,100)

Java.csv with 2 experience file created.

In [5]:
data = pd.read_csv('Java.csv')
data.head()

,Job Role,Company Name,Key Skills,Experience,Location,Job Posted,Job Link
0,Java - Core Java,Fine Jobs Consultant Pvt. Ltd.,"fundamentals,jsp,hibernate,spring,springboot,d...",0 - 3 yrs,Indore,Posted 3 days ago,https://www.timesjobs.com/job-detail/java-core...
1,"JAVA , Java EE Developer",Logic Heart,"spring,springboot,rest,java,restapi,javaee,j2e...",1 - 5 yrs,Bengaluru / Bangalore,Posted few days ago,https://www.timesjobs.com/job-detail/java-java...
2,java / Sr java Developer,APPLYCUP HIRING SOLUTIONS LLP,"authoring,teamplayer,jquery,javadeveloper,sql,...",1 - 4 yrs,Bhopal,Posted few days ago,https://www.timesjobs.com/job-detail/java-sr-j...
3,Java Developers ( Core Java ),Bloom Consulting Services,"restapi,hibernate,messaging,sql,spring,java,ws...",0 - 3 yrs,Bengaluru / Bangalore,Posted few days ago,https://www.timesjobs.com/job-detail/java-deve...
4,Java Developer - Java PHP,BrainToSoul Consulting,"css,bootstrap,javascript,jquery,javadeveloper,...",2 - 5 yrs,Bengaluru / Bangalore,Posted few days ago,https://www.timesjobs.com/job-detail/java-deve...